<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>TestDebug</name>
	<updates>http://jenyay.net/uploads/Outwiker/DebugPlugin/plugin.xml</updates>
    <requirements>
        <os>Windows, Linux</os>
        <api>2.835</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<description>Test plug-in.</description>
		<website>http://jenyay.net/Outwiker/DebugPluginEn</website>

		<changelog>
			<version number="0.5">
                <download os="all">http://jenyay.net/uploads/Outwiker/DebugPlugin/debugplugin-0.5.zip</download>
				<change>The first change.</change>
				<change>The second change.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<description>Тестовый плагин.</description>
		<website>http://jenyay.net/Outwiker/DebugPlugin</website>

		<changelog>
			<version number="0.5">
                <download os="all">http://jenyay.net/uploads/Outwiker/DebugPlugin/debugplugin-0.5.zip</download>
				<change>Первое изменение.</change>
				<change>Второе изменение.</change>
			</version>
		</changelog>
	</data>
</info>
