<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>TestEmpty</name>
    <requirements>
		<packages>
			<core>1.0</core>
			<actions>1.0</actions>
			<gui>1.0, 2.0</gui>
			<pages>1.0, 2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<changelog>
			<version number="0.5">
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<changelog>
			<version number="0.5">
			</version>
		</changelog>
	</data>
</info>
