<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>TeXEquation</name>
	<description>Plug-in for inserting the equations in the TeX format.</description>
	<description lang="ru">Вставка формул в формате TeX.</description>
	<website>https://jenyay.net/Outwiker/TexEquationEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/TexEquation</website>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>4.942</api>
	</requirements>

	<version number="2.6.12"/>
</info>
