[paths]
source =
    src
    plugins

[report]
omit =
    src/outwiker/tests/*
    plugins/datagraph/datagraph/libs/*
    plugins/diagrammer/diagrammer/libs/*
    plugins/snippets/snippets/libs/*
    plugins/testlatexpage/testlatexpage/libs/*
    plugins/updatenotifier/updatenotifier/libs/*
    plugins/webpage/webpage/libs/*
    plugins/markdown/markdown/markdown_plugin_libs/*
	plugins/template/*
	testdata/*
    */.local/*
precision = 2
skip_covered = True
show_missing = True
sort = Cover

[html]
directory = build/htmlcov
title = OutWiker coverage report
