[paths]
source =
    .
    ../plugins

[report]
omit =
    outwiker/libs/*
    ../test/*
    ../plugins/datagraph/datagraph/libs/*
    ../plugins/diagrammer/diagrammer/libs/*
    ../plugins/snippets/snippets/libs/*
    ../plugins/testlatexpage/testlatexpage/libs/*
    ../plugins/updatenotifier/updatenotifier/libs/*
    ../plugins/webpage/webpage/libs/*
    */.local/*
precision = 2
skip_covered = True
show_missing = True
sort = Cover

[html]
directory = ../build/htmlcov
title = OutWiker coverage report
