*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.cache

*.pyc
*.bak
*.~ml
*.ini
*.py~
*.deb
doxydoc
logdict2.6.1.final.0-1.log
logdict2.6.5.final.0-1.log
warnoutwiker_win32.txt
warnoutwiker_linux.txt
doc/todo.tsk.lock
doc/todo.tsk.lock.*
profiles/*.profile
test/*.profile
distrib
.coverage
htmlcov
src/tests.log
src/plugins/*
.ropeproject
doc/doxygen/html
doc/coverage
tests_win
*.sublime-*
.idea/
Thumbs.db
tmp/
serverinfo.py
