*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.cache
_build

*.pyc
*.bak
*.~ml
*.ini
*.py~
*.deb
doxydoc
profiles/*.profile
test/*.profile
.coverage
htmlcov
src/tests.log
src/plugins/*
.ropeproject
tests_win
*.sublime-*
.idea/
Thumbs.db
tmp/
serverinfo.py
.vagrant
*.retry
*.log
