[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

[packages]
attrdict3 = "==2.0.2"
wxPython = "==4.2.1"
Pillow = "==9.5.0"
cacheman = {version = "==2.1.0.post1", path = "depends/cacheman"}
cyhunspell = {version = "==2.0.3.post1", path = "depends/cyhunspell"}
idna = ">=2.10"
pyparsing = "==3.1.1"
psutil = "==5.9.5"
rcssmin = "==1.1.1"

[dev-packages]
invoke = "==2.2.0"
cx-freeze = "==6.14.9"
pympler = "==1.0.1"
pytest = ">=7.4"
coverage = ">=7.3"
jinja2 = ">=3.1"
colorama = "==0.4.6"
sphinx = ">=7.2"
outwiker = {editable = true, path = "."}
buildtools = {editable = true, path = "./buildtools"}
