# -*- coding: UTF-8 -*-

DEPLOY_SERVER_NAME = u'example.com'
DEPLOY_SITE = u'http://' + DEPLOY_SERVER_NAME
DEPLOY_HOME_PATH = u'/home/username/path_to_html/'
DEPLOY_UNSTABLE_PATH = DEPLOY_HOME_PATH + u'uploads/Outwiker/Unstable'
