<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>PageTypeColor</name>

	<description>Changing the page title field color when changing the page type.</description>
	<description lang="ru">Изменение цвета поля ввода заголовка страницы при ее создании в зависимости от ее типа.</description>

	<website>https://jenyay.net/Outwiker/PageTypeColorEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/PageTypeColor</website>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.934</api>
	</requirements>

	<version number="1.4.2"/>
</info>
