<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>PageTypeColor</name>
	<updates>http://jenyay.net/uploads/Outwiker/PageTypeColor/plugin.xml</updates>
    <requirements>
        <outwiker>1.9.0.777 dev</outwiker>
        <os>Windows, Linux</os>
		<packages>
			<core>1.0</core>
			<actions>1.0</actions>
			<gui>1.0</gui>
			<pages>1.0, 2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/PageTypeColorEn</website>
		<description>Changing the page title field color when changing the page type.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0.4" date="October 17, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.4.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.0.3" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.3.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.0.2" date="March 10, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.2.zip</download>
				<change>Fixed misprints.</change>
			</version>

			<version number="1.0.1" date="November 27, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.1.zip</download>
				<change>Minor design corrections.</change>
			</version>

			<version number="1.0" date="October 30, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/PageTypeColor</website>
		<description>Изменение цвета поля ввода заголовка страницы при ее создании в зависимости от ее типа.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0.4" date="17.10.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.4.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.0.3" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.3.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.0.2" date="10.03.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.2.zip</download>
				<change>Исправление опечаток.</change>
			</version>

			<version number="1.0.1" date="27.11.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.1.zip</download>
				<change>Незначительные оформительские исправления.</change>
			</version>

			<version number="1.0" date="30.10.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/PageTypeColor/pagetypecolor-1.0.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
