<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Counter</name>
	<updates>http://jenyay.net/uploads/Outwiker/Counter/plugin.xml</updates>
    <requirements>
        <outwiker>2.1.0.833 dev</outwiker>
        <os>Windows, Linux</os>
		<packages>
			<core>2.0</core>
			<actions>1.1</actions>
			<gui>2.0</gui>
			<pages>2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/CounterEn</website>
		<description>Plugin adds wiki-command (:counter:), allowing the automatic numbering anything on the page.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>
		<changelog>
			<version number="2.0.1" date="December 17, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-2.0.1.zip</download>
				<change>Python 3.6 migration.</change>
			</version>

			<version number="2.0.0" date="December 14, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-2.0.0.zip</download>
				<change>Update per wxPython 4.0</change>
			</version>

			<version number="1.0.6" date="October 17, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.6.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.0.5" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.5.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.0.4" date="October 14, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.4.zip</download>
			</version>

			<version number="1.0.3" date="January 20, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.3.zip</download>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
				<change>Cleanup code.</change>
			</version>

			<version number="1.0.2" date="September 11, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.2.zip</download>
				<change>Added the Italian localization.</change>
				<change>Bug fixes.</change>
			</version>

			<version number="1.0.1" date="Jule 13, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.1.zip</download>
				<change>Fixed output error when trying to use a plug-in with unsupported versions OutWiker.</change>
			</version>

			<version number="1.0" date="June 24, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.zip</download>
				<change>The first version</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/Counter</website>
		<description>Плагин добавляет команду (:counter:), позволяющую создавать автоматическую нумерацию на викистранице.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
            <version number="2.0.1" date="17.12.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-2.0.1.zip</download>
                <change>Портирован на Python 3.6</change>
            </version>

			<version number="2.0.0" date="14.12.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-2.0.0.zip</download>
				<change>Плагин обновлен в связи с переходом на wxPython 4.0</change>
			</version>

			<version number="1.0.6" date="17.10.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.6.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.0.5" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.5.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.0.4" date="14.10.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.4.zip</download>
			</version>

			<version number="1.0.3" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.3.zip</download>
				<change>Небольшие улучшения в интерфейсе.</change>
				<change>Исправление ошибок.</change>
				<change>Подчистка кода.</change>
			</version>

			<version number="1.0.2" date="11.09.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.2.zip</download>
				<change>Добавлена итальянская локализация</change>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0.1" date="13.07.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.1.zip</download>
				<change>Исправлен вывод ошибок при попытке использования плагина в неподдерживаемых версиях OutWiker.</change>
			</version>

			<version number="1.0" date="24.06.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Counter/counter-1.0.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
