<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>HtmlFormatter</name>
	<updates_url>https://jenyay.net/uploads/Outwiker/HtmlFormatter/versions.xml</updates_url>
	<info_url>https://jenyay.net/uploads/Outwiker/HtmlFormatter/plugin.xml</info_url>
	<website>https://jenyay.net/Outwiker/HtmlFormatterEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/HtmlFormatter</website>
	<description>Plugin for more punctual HTML generation.</description>
	<description lang="ru">Плагин для генерации более аккуратного HTML-кода страниц.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="1.4"/>
</info>
