div.warning {
	color: #333;
	background-color: #fff8c4;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	border:1px solid #f2c779;
}

div.error {
	color: #333;
	background-color: #ffecec;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	border:1px solid #f5aca6;
}

div.success {
	color: #333;
	background-color: #e9ffd9;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	border:1px solid #a6ca8a;
}

div.notice {
	color: #333;
	background-color: #e3f7fc;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	border:1px solid #8ed9f6;
}

span.warning {
	color: #333;
	background-color: #fff8c4;
	border-radius: 1px;
	padding: 2px 2px 2px 2px;
	margin: 2px;
	border:1px solid #f2c779;
}

span.error {
	color: #333;
	background-color: #ffecec;
	border-radius: 1px;
	padding: 2px 2px 2px 2px;
	margin: 2px;
	border:1px solid #f5aca6;
}

span.success {
	color: #333;
	background-color: #e9ffd9;
	border-radius: 1px;
	padding: 2px 2px 2px 2px;
	margin: 2px;
	border:1px solid #a6ca8a;
}

span.notice {
	color: #333;
	background-color: #e3f7fc;
	border-radius: 1px;
	padding: 2px 2px 2px 2px;
	margin: 2px;
	border:1px solid #8ed9f6;
}

div.frame {
	background-color: #ddd;
	padding: 1em;
	margin: 1em;
	border: 1px solid #000;
}

div.border {
	padding: 1em;
	margin: 1em;
	border: 1px solid #000;
}
