<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Source</name>
	<requirements>
		<api>3.868</api>
	</requirements>

	<website>https://jenyay.net/Outwiker/SourcePluginEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/SourcePlugin</website>
	<description>Highlight source code.</description>
	<description lang="ru">Раскраска исходных текстов программ.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<version number="1.19"/>
</info>
