<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Source</name>
	<updates>https://jenyay.net/uploads/Outwiker/SourcePlugin/plugin.xml</updates>
    <requirements>
        <api>3.868</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
    </requirements>

	<website>https://jenyay.net/Outwiker/SourcePluginEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/SourcePlugin</website>
	<description>Highlight source code.</description>
	<description lang="ru">Раскраска исходных текстов программ.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<versions>
		<version number="1.18">
			<download href=">https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.18.zip">
				<requirements>
					<api>3.868</api>
				</requirements>
			</download>
			<changes>
				<change>Migrate to new API.</change>
			</changes>

			<changes lang="ru">
				<change>Переход на новый API.</change>
			</changes>
		</version>

		<version number="1.17.2" date="26.05.2019">
			<download href=">https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.17.2.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Update Pygments library.</change>
			</changes>

			<changes lang="ru">
				<change>Обновление библиотеки Pygments.</change>
			</changes>
		</version>

		<version number="1.17.1" date="22.03.2019">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.17.1.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Update the Ukrainian localization.</change>
				<change>Update the German localization.</change>
			</changes>

			<changes lang="ru">
				<change>Обновление украинской локализации.</change>
				<change>Обновление немецкой локализации.</change>
			</changes>
		</version>

		<version number="1.17" date="24.11.2018">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.17.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Improve programming languages view.</change>
				<change>Fix errors.</change>
			</changes>

			<changes lang="ru">
				<change>Улучшено представление списка языков программирования.</change>
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.16" date="26.08.2018">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.16.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Add German localization.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена немецкая локализация.</change>
			</changes>
		</version>

		<version number="1.15.1" date="26.05.2018">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.15.1.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.15" date="15.02.2018">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.15.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.6.</change>
			</changes>
		</version>

		<version number="1.14.5" date="28.05.2017">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.5.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Fixed errors.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.14.4" date="18.03.2017">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.4.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Updated the Pygments library.</change>
			</changes>

			<changes lang="ru">
				<change>Обновлена библиотека Pygments.</change>
			</changes>
		</version>

		<version number="1.14.3" date="17.10.2016">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.3.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added OutWiker 2.0 supporting.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</changes>
		</version>

		<version number="1.14.2" date="20.08.2016">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.2.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the Swedish translation.</change>
				<change>Updated Pygments library.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка шведского языка.</change>
				<change>Обновлена библиотека Pygments.</change>
			</changes>
		</version>

		<version number="1.14.1" date="29.05.2016">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.1.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.14" date="11.02.2016">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Bug fixes.</change>
				<change>Updated Pygments library.</change>
				<change>Added new styles.</change>
				<change>Added new languages supporting.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
				<change>Обновление библиотеки Pygments, что увеличило число поддерживаемых языков и добавило несколько новых стилей оформления.</change>
			</changes>
		</version>

		<version number="1.13" date="03.06.2015">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.13.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.12" date="09.02.2015">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.12.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Updated the Pygments library..</change>
				<change>Added new styles.</change>
				<change>Added new languages supporting.</change>
			</changes>

			<changes lang="ru">
				<change>Обновление библиотеки Pygments.</change>
				<change>Появились новые стили оформления кода.</change>
				<change>Появилась поддержка новых языков программирования.</change>
			</changes>
		</version>

		<version number="1.11.5" date="20.01.2015">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.5.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
				<change>Небольшие улучшения в интерфейсе.</change>
			</changes>
		</version>

		<version number="1.11.3" date="11.09.2014">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.3.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.11.2" date="13.07.2014">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.2.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Small fixes in the interface.</change>
			</changes>

			<changes lang="ru">
				<change>Небольшие исправления в интерфейсе.</change>
			</changes>
		</version>

		<version number="1.11.1" date="17.03.2014">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.1.zip">
			</download>
			<changes>
			</changes>

			<changes lang="ru">
			</changes>
			<change>Исправлена работа раскраски кода на языке 1С.</change>
		</version>

		<version number="1.11" date="09.01.2014">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>When using OutWiker 1.8 you can set a hotkey to insert (:source:) command.</change>
			</changes>

			<changes lang="ru">
				<change>При использовании OutWiker 1.8 можно задавать горячую клавишу для вставки команды (:source:)</change>
			</changes>
		</version>

		<version number="1.10" date="12.08.2013">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.10.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the linenum parameter to enable line numbers.</change>
				<change>Added the parentbg parameter to use as a background source page's background.</change>
				<change>Improved display of source code on pages with dark backgrounds.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлен параметр linenum для отображения номеров строк.</change>
				<change>Добавлен параметр parentbg для использования в качестве фона исходников фона страницы.</change>
				<change>Улучшено отображение исходников на страницах с темным фоном.</change>
			</changes>
		</version>

		<version number="1.9" date="18.02.2013">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.9.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the ability to choose the style of decoration.</change>
				<change>Corrections in the dialog of the insert commands (:source:).</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена возможность выбирать стиль оформления.</change>
				<change>Исправления в диалоге вставки команды (:source:).</change>
			</changes>
		</version>

		<version number="1.8" date="19.01.2013">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.8.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added ability to insert text programs from the attached files.</change>
				<change>Added parameter encoding, indicated the encoding of the file with the source.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена возможность вставки текста программ из прикрепленных файлов.</change>
				<change>Добавлен параметр encoding, указывающий кодировку файла с исходником.</change>
			</changes>
		</version>

		<version number="1.7" date="04.01.2013">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.7.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the dialog for insert the command (:source:).</change>
			</changes>

			<changes lang="ru">
				<change>Добавлен диалог для вставки команды (:source:).</change>
			</changes>
		</version>

		<version number="1.6" date="01.08.2012">
			<download href="https://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.6.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added 1S language supporting.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка языка 1С.</change>
			</changes>
		</version>
	</versions>
</info>
