<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Source</name>
	<updates>http://jenyay.net/uploads/Outwiker/SourcePlugin/plugin.xml</updates>
    <requirements>
        <os>Windows, Linux</os>
        <api>2.835</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/SourcePluginEn</website>
		<description>Highlight source code.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.15" date="February 15, 2018">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.15.zip</download>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
			</version>

			<version number="1.14.5" date="May 28, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.5.zip</download>
				<change>Fixed errors.</change>
			</version>

			<version number="1.14.4" date="March 18, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.4.zip</download>
				<change>Updated the Pygments library.</change>
			</version>

			<version number="1.14.3" date="October 17, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.3.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.14.2" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.2.zip</download>
				<change>Added the Swedish translation.</change>
				<change>Updated Pygments library.</change>
			</version>

			<version number="1.14.1" date="29.05.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.1.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.14" date="11.02.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.zip</download>
				<change>Bug fixes.</change>
				<change>Updated Pygments library.</change>
				<change>Added new styles.</change>
				<change>Added new languages supporting.</change>
			</version>

			<version number="1.13" date="03.06.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.13.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.12" date="09.02.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.12.zip</download>
				<change>Updated the Pygments library..</change>
				<change>Added new styles.</change>
				<change>Added new languages supporting.</change>
			</version>

			<version number="1.11.5" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.5.zip</download>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
			</version>

			<version number="1.11.3" date="11.09.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.3.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.11.2" date="13.07.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.2.zip</download>
				<change>Small fixes in the interface.</change>
			</version>

			<version number="1.11.1" date="17.03.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.1.zip</download>
				<change>Fixed coloring code in 1S language.</change>
			</version>

			<version number="1.11" date="09.01.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.zip</download>
				<change>When using OutWiker 1.8 you can set a hotkey to insert (:source:) command.</change>
			</version>

			<version number="1.10" date="12.08.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.10.zip</download>
				<change>Added the linenum parameter to enable line numbers.</change>
				<change>Added the parentbg parameter to use as a background source page's background.</change>
				<change>Improved display of source code on pages with dark backgrounds.</change>
			</version>

			<version number="1.9" date="18.02.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.9.zip</download>
				<change>Added the ability to choose the style of decoration.</change>
				<change>Corrections in the dialog of the insert commands (:source:).</change>
			</version>

			<version number="1.8" date="19.01.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.8.zip</download>
				<change>Added ability to insert text programs from the attached files.</change>
				<change>Added parameter encoding, indicated the encoding of the file with the source.</change>
			</version>

			<version number="1.7" date="04.01.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.7.zip</download>
				<change>Added the dialog for insert the command (:source:).</change>
			</version>

			<version number="1.6" date="01.08.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.6.zip</download>
				<change>Added 1S language supporting.</change>
			</version>

			<version number="1.0">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>

	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/SourcePlugin</website>
		<description>Раскраска исходных текстов программ.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.15" date="15.02.2018">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.15.zip</download>
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.6.</change>
			</version>

			<version number="1.14.5" date="28.05.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.5.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.14.4" date="18.03.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.4.zip</download>
				<change>Обновлена библиотека Pygments.</change>
			</version>

			<version number="1.14.3" date="17.10.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.3.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.14.2" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.2.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
				<change>Обновлена библиотека Pygments.</change>
			</version>

			<version number="1.14.1" date="29.05.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.1.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.14" date="11.02.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.14.zip</download>
				<change>Исправление ошибок.</change>
				<change>Обновление библиотеки Pygments, что увеличило число поддерживаемых языков и добавило несколько новых стилей оформления.</change>
			</version>

			<version number="1.13" date="03.06.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.13.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.12" date="09.02.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.12.zip</download>
				<change>Обновление библиотеки Pygments.</change>
				<change>Появились новые стили оформления кода.</change>
				<change>Появилась поддержка новых языков программирования.</change>
			</version>

			<version number="1.11.5" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.5.zip</download>
				<change>Исправление ошибок.</change>
				<change>Небольшие улучшения в интерфейсе.</change>
			</version>

			<version number="1.11.3" date="11.09.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.3.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.11.2" date="13.07.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.2.zip</download>
				<change>Небольшие исправления в интерфейсе.</change>
			</version>

			<version number="1.11.1" date="17.03.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.1.zip</download>
				<change>Исправлена работа раскраски кода на языке 1С.</change>
			</version>

			<version number="1.11" date="09.01.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.11.zip</download>
				<change>При использовании OutWiker 1.8 можно задавать горячую клавишу для вставки команды (:source:)</change>
			</version>

			<version number="1.10" date="12.08.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.10.zip</download>
				<change>Добавлен параметр linenum для отображения номеров строк.</change>
				<change>Добавлен параметр parentbg для использования в качестве фона исходников фона страницы.</change>
				<change>Улучшено отображение исходников на страницах с темным фоном.</change>
			</version>

			<version number="1.9" date="18.02.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.9.zip</download>
				<change>Добавлена возможность выбирать стиль оформления.</change>
				<change>Исправления в диалоге вставки команды (:source:).</change>
			</version>

			<version number="1.8" date="19.01.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.8.zip</download>
				<change>Добавлена возможность вставки текста программ из прикрепленных файлов.</change>
				<change>Добавлен параметр encoding, указывающий кодировку файла с исходником.</change>
			</version>

			<version number="1.7" date="04.01.2013">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.7.zip</download>
				<change>Добавлен диалог для вставки команды (:source:).</change>
			</version>

			<version number="1.6" date="01.08.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source-1.6.zip</download>
				<change>Добавлена поддержка языка 1С.</change>
			</version>

			<version number="1.0">
                <download os="all">http://jenyay.net/uploads/Outwiker/SourcePlugin/source.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
