<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>UpdateNotifier</name>
	<updates_url>https://jenyay.net/uploads/Outwiker/UpdateNotifier/versions.xml</updates_url>
	<info_url>https://jenyay.net/uploads/Outwiker/UpdateNotifier/plugin.xml</info_url>
	<description>Notification of version releases OutWiker and plug-ins.</description>
	<description lang="ru">Оповещения о новых версиях OutWiker и плагинов.</description>
	<website>https://jenyay.net/Outwiker/UpdateNotifierEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/UpdateNotifier</website>

	<requirements>
		<api>3.868</api>
	</requirements>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<version number="2.4"/>
</info>
