<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Organizer</name>
	<updates>http://jenyay.net/Outwiker/Organizer/plugin.xml</updates>
    <requirements>
        <outwiker>1.9.0.782 dev</outwiker>
        <os>Windows, Linux</os>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/OrganizerEn</website>
		<description>Organizer.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0">
                <download os="all">http://jenyay.net/uploads/Outwiker/Organizer/organizer-1.0.zip</download>
				<change>The first version</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/Organizer</website>
		<description>Органайзер.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0">
                <download os="all">http://jenyay.net/uploads/Outwiker/Organizer/organizer-1.0.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
