<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Organizer</name>
	<updates>http://jenyay.net/uploads/Outwiker/Organizer/plugin.xml</updates>
    <requirements>
        <outwiker>2.1.0.833 dev</outwiker>
        <os>Windows, Linux</os>
        <packages>
            <core>2.0</core>
            <actions>1.1</actions>
            <gui>2.0</gui>
            <pages>2.0</pages>
            <utilites>1.0</utilites>
            <libs>1.0</libs>
        </packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/OrganizerEn</website>
		<description>Organizer.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.1">
                <download os="all">http://jenyay.net/uploads/Outwiker/Organizer/organizer-1.1.zip</download>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
			</version>

			<version number="1.0">
                <download os="all">http://jenyay.net/uploads/Outwiker/Organizer/organizer-1.0.zip</download>
				<change>The first version</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/Organizer</website>
		<description>Органайзер.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.1">
                <download os="all">http://jenyay.net/uploads/Outwiker/Organizer/organizer-1.1.zip</download>
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.6.</change>
			</version>

			<version number="1.0">
                <download os="all">http://jenyay.net/uploads/Outwiker/Organizer/organizer-1.0.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
