<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Statistics</name>
	<updates>https://jenyay.net/uploads/Outwiker/Statistics/plugin.xml</updates>
    <requirements>
        <os>Windows, Linux</os>
        <api>2.835</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>https://jenyay.net/Outwiker/StatisticsEn</website>
		<description>Showing statistics by notes.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>https://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.2">
				<requirements>
					<api>2.835</api>
				</requirements>

                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.2.zip</download>
				<change>Add German localization.</change>
			</version>

			<version number="1.1.2" date="May 26, 2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.1.2.zip</download>
				<change>Updated Ukrainian localization.</change>
			</version>

			<version number="1.1.1" date="April 22, 2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.1.1.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.1" date="February 15, 2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.1.zip</download>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
			</version>

			<version number="1.0.4" date="October 17, 2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.4.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.0.3" date="August 20, 2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.3.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.0.2" date="May 21, 2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.2.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.0.1" date="January 20, 2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.1.zip</download>
				<change>Cleanup code.</change>
				<change>Bug fixes.</change>
			</version>

			<version number="1.0" date="May 16, 2013">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>https://jenyay.net/Outwiker/Statistics</website>
		<description>Просмотр статистики по заметкам.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>https://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.2">
				<requirements>
					<api>2.835</api>
				</requirements>

                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.2.zip</download>
				<change>Добавлена немецкая локализация.</change>
			</version>

			<version number="1.1.2" date="26.05.2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.1.2.zip</download>
				<change>Обновлена украинская локализация.</change>
			</version>

			<version number="1.1.1" date="22.04.2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.1.1.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.1" date="15.02.2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.1.zip</download>
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.6.</change>
			</version>

			<version number="1.0.4" date="17.10.2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.4.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.0.3" date="20.08.2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.3.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.0.2" date="21.05.2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.2.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0.1" date="20.01.2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.1.zip</download>
				<change>Подчистка кода.</change>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0" date="16.05.2013">
                <download os="all">https://jenyay.net/uploads/Outwiker/Statistics/statistics-1.0.zip</download>
				<change>Первая версия.</change>
			</version>
		</changelog>
	</data>
</info>
