<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>PLUGINNAME</name>
    <updates>http://example.com/pluginname/plugin.xml</updates>
    <requirements>
        <outwiker>2.1.0.833 dev</outwiker>
        <os>Windows, Linux</os>
		<packages>
			<core>2.0</core>
			<actions>1.1</actions>
			<gui>2.0</gui>
			<pages>2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://example.com/pluginnameEn</website>
		<description>Description.</description>

		<author>
			<name>Author name</name>
			<email>example@example.com</email>
			<site>http://example.com</site>
		</author>

		<changelog>
			<version number="1.0">
                <download os="all">http://example.com/pluginname/pluginname-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://example.com/pluginnameRu</website>
		<description>Описание.</description>

		<author>
			<name>Author name</name>
			<email>example@example.com</email>
			<site>http://example.com</site>
		</author>

		<changelog>
			<version number="1.0">
                <download os="all">http://example.com/pluginname/pluginname-1.0.zip</download>
				<change>Первая версия.</change>
			</version>
		</changelog>
	</data>
</info>
