<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>PLUGINNAME</name>
    <updates>https://example.com/pluginname/plugin.xml</updates>
    <requirements>
        <os>Windows, Linux</os>
        <api>2.835</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>https://example.com/pluginnameEn</website>
		<description>Description.</description>

		<author>
			<name>Author name</name>
			<email>example@example.com</email>
			<site>https://example.com</site>
		</author>

		<changelog>
			<version number="1.0">
				<requirements>
					<api>2.835</api>
				</requirements>

                <download os="all">https://example.com/pluginname/pluginname-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>https://example.com/pluginnameRu</website>
		<description>Описание.</description>

		<author>
			<name>Author name</name>
			<email>example@example.com</email>
			<site>https://example.com</site>
		</author>

		<changelog>
			<version number="1.0">
				<requirements>
					<api>2.835</api>
				</requirements>

                <download os="all">https://example.com/pluginname/pluginname-1.0.zip</download>
				<change>Первая версия.</change>
			</version>
		</changelog>
	</data>
</info>
