<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>PLUGINNAME</name>
	<description>Description.</description>
	<description lang="ru">Описание.</description>
	<website>https://example.com/pluginnameEn</website>
	<website lang="ru">https://example.com/pluginnameRu</website>

	<requirements>
		<api>3.922</api>
	</requirements>

	<author>
		<name>Author name</name>
		<email>example@example.com</email>
		<website>https://example.com</website>
	</author>

	<author lang="ru">
		<name>Author name</name>
		<email>example@example.com</email>
		<website>https://example.com</website>
	</author>

	<version number="1.0"/>
</info>
