<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>AutoRenamer</name>

	<description>Plugin for automatic page renaming.</description>
	<description lang="ru">Плагин для автоматического переименовывания заметок.</description>

	<website>https://jenyay.net/Outwiker/AutoRenamerEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/AutoRenamerEn</website>

	<author>
		<name>Vitalii Koshura</name>
		<website>https://github.com/AenBleidd</website>
	</author>

	<author lang="ru">
		<name>Виталий Кошура</name>
		<website>https://github.com/AenBleidd</website>
	</author>

	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="0.0.0.9"/>
</info>
