<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Lightbox</name>

	<website>https://jenyay.net/Outwiker/LightboxEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/Lightbox</website>
	<description>Open links to images in the preview window, not an external program.</description>
	<description lang="ru">Открытие ссылок на изображения в окне просмотра, а не во внешней программе.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>
	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="1.4"/>
</info>
