<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Lightbox</name>
	<updates>https://jenyay.net/uploads/Outwiker/Lightbox/plugin.xml</updates>

	<website>https://jenyay.net/Outwiker/LightboxEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/Lightbox</website>
	<description>Open links to images in the preview window, not an external program.</description>
	<description lang="ru">Открытие ссылок на изображения в окне просмотра, а не во внешней программе.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>
	<requirements>
		<api>3.868</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
	</requirements>

	<versions>
		<version number="1.4">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.4.zip">
				<requirements>
					<api>3.868</api>
				</requirements>
			</download>
			<changes>
				<change>Migrate to new API.</change>
			</changes>

			<changes lang="ru">
				<change>Переход на новый API.</change>
			</changes>
		</version>

		<version number="1.3" date="26.08.2018">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.3.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Add German localization.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена немецкая локализация.</change>
			</changes>
		</version>

		<version number="1.2.1" date="26.05.2018">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.2.1.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Updated Ukrainian localization.</change>
			</changes>

			<changes lang="ru">
				<change>Обновлена украинская локализация.</change>
			</changes>
		</version>

		<version number="1.2" date="15.02.2018">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.2.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.</change>
			</changes>
		</version>

		<version number="1.1.4" date="17.10.2016">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.4.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added OutWiker 2.0 supporting.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</changes>
		</version>

		<version number="1.1.3" date="20.08.2016">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.3.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the Swedish translation.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка шведского языка.</change>
			</changes>
		</version>

		<version number="1.1.2" date="20.01.2015">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.2.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
				<change>Code cleanup.</change>
			</changes>

			<changes lang="ru">
				<change>Подчистка кода.</change>
				<change>Небольшие улучшения в интерфейсе.</change>
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.1.1" date="17.11.2012">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.1.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
			</changes>

			<changes lang="ru">
			</changes>
		</version>

		<version number="1.1" date="08.08.2012">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
			</changes>

			<changes lang="ru">
			</changes>
		</version>

		<version number="1.0" date="24.06.2012">
			<download href="https://jenyay.net/uploads/Outwiker/Lightbox/lightbox.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Первая версия</change>
			</changes>

			<changes lang="ru">
				<change>Первая версия</change>
			</changes>
		</version>
	</versions>
</info>
