<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Lightbox</name>
	<updates>http://jenyay.net/uploads/Outwiker/Lightbox/plugin.xml</updates>
    <requirements>
        <outwiker>1.7.0</outwiker>
        <os>Windows, Linux</os>
		<packages>
			<core>1.0</core>
			<actions>1.0</actions>
			<gui>1.0, 2.0</gui>
			<pages>1.0, 2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/LightboxEn</website>
		<description>Open links to images in the preview window, not an external program.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.1.5" date="December 14, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.5.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.1.4" date="October 17, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.4.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.1.3" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.3.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.1.2" date="January 20, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.2.zip</download>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
				<change>Code cleanup.</change>
			</version>

			<version number="1.1.1" date="November 17, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.1.zip</download>
			</version>

			<version number="1.1" date="August 08, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.zip</download>
			</version>

			<version number="1.0" date="June 06, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/LightboxEn</website>
		<description>Открытие ссылок на изображения в окне просмотра, а не во внешней программе.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.1.5" date="14.12.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.5.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.1.4" date="17.10.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.4.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.1.3" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.3.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.1.2" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.2.zip</download>
				<change>Подчистка кода.</change>
				<change>Небольшие улучшения в интерфейсе.</change>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.1.1" date="17.11.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.1.zip</download>
			</version>

			<version number="1.1" date="08.08.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox-1.1.zip</download>
			</version>

			<version number="1.0" date="24.06.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/Lightbox/lightbox.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
