<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Markdown</name>
	<updates_url>https://jenyay.net/uploads/Outwiker/Markdown/versions.xml</updates_url>
	<info_url>https://jenyay.net/uploads/Outwiker/Markdown/plugin.xml</info_url>

	<description>The Markdown plug-in add a new page type with Markdown notation.</description>
	<description lang="ru">Плагин Markdown добавляет новый тип страниц, который использует нотацию Markdown.</description>
	<website>https://jenyay.net/Outwiker/MarkdownEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/Markdown</website>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="1.7"/>
</info>
