<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Diagrammer</name>
	<updates>http://jenyay.net/uploads/Outwiker/Diagrammer/plugin.xml</updates>
    <requirements>
        <outwiker>1.8.0.735 dev</outwiker>
        <os>Windows, Linux</os>
		<packages>
			<core>1.0</core>
			<actions>1.0</actions>
			<gui>1.0</gui>
			<pages>1.0, 2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/DiagrammerEn</website>
		<description>Plugin for the construction of diagrams.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0.4" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.4.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.0.3" date="February 11, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.3.zip</download>
				<change>Updated the <a href="http://blockdiag.com/en/">blockdiag</a> library.</change>
			</version>

			<version number="1.0.2" date="January 20, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.2.zip</download>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
				<change>Cleanup code.</change>
			</version>

			<version number="1.0.1" date="September 11, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.1.zip</download>
				<change>Added the Italian localization.</change>
				<change>Bug fixes.</change>
			</version>

			<version number="1.0" date="August 22, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/Diagrammer</website>
		<description>Плагин для создания диаграмм.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0.4" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.4.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.0.3" date="11.02.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.3.zip</download>
				<change>Обновление используемой библиотеки <a href="http://blockdiag.com/en/">blockdiag</a>.</change>
			</version>

			<version number="1.0.2" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.2.zip</download>
				<change>Небольшие улучшения в интерфейсе.</change>
				<change>Исправление ошибок.</change>
				<change>Подчистка кода.</change>
			</version>

			<version number="1.0.1" date="11.09.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.1.zip</download>
				<change>Добавлена итальянская локализация.</change>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0" date="22.08.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/Diagrammer/diagrammer-1.0.zip</download>
				<change>Первая версия.</change>
			</version>
		</changelog>
	</data>
</info>
