<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>ReadingMode</name>
	<updates>http://jenyay.net/uploads/Outwiker/ReadingMode/plugin.xml</updates>
    <requirements>
        <outwiker>1.8.0</outwiker>
        <os>Windows, Linux</os>
		<packages>
			<core>1.0</core>
			<actions>1.0</actions>
			<gui>1.0</gui>
			<pages>1.0, 2.0</pages>
			<utilites>1.0</utilites>
			<libs>1.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/ReadingModeEn</website>
		<description>Switch OutWiker to reading mode.</description>

		<author>
			<name>Roman Sobolev</name>
		</author>
		<changelog>
			<version number="1.0.4" date="May 28, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.4.zip</download>
				<change>Fixed errors.</change>
			</version>

			<version number="1.0.3" date="February 24, 2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.3.zip</download>
				<change>Fix the misprint in the Russian localization.</change>
			</version>

			<version number="1.0.2" date="October 17, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.2.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.0.1" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.1.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.0" date="October 14, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/ReadingMode</website>
		<description>Переключение OutWiker в режим для чтения.</description>

		<author>
			<name>Роман Соболев</name>
		</author>

		<changelog>
			<version number="1.0.4" date="28.05.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.4.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0.3" date="24.02.2017">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.3.zip</download>
				<change>Исправление опечаток.</change>
			</version>

			<version number="1.0.2" date="17.10.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.2.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.0.1" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.1.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.0" date="14.10.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/ReadingMode/readingmode-1.0.zip</download>
				<change>Первая версия.</change>
			</version>
		</changelog>
	</data>
</info>
