<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>ReadingMode</name>
	<website>https://jenyay.net/Outwiker/ReadingModeEn</website>
	<website>https://jenyay.net/Outwiker/ReadingMode</website>
	<description>Switch OutWiker to reading mode.</description>
	<description>Переключение OutWiker в режим для чтения.</description>

	<requirements>
		<api>4.942</api>
	</requirements>


	<author>
		<name>Roman Sobolev</name>
	</author>

	<author lang="ru">
		<name>Роман Соболев</name>
	</author>

	<version number="1.3.2"/>
</info>
