<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Export2Html</name>
	<description>Export pages to HTML.</description>
	<description lang="ru">Экспорт страниц в HTML.</description>
	<website>https://jenyay.net/Outwiker/Export2HtmlPluginEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/Export2HtmlPlugin</website>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="1.6"/>
</info>
