<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Export2Html</name>
	<updates>https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/plugin.xml</updates>
    <requirements>
        <os>Windows, Linux</os>
        <api>2.835</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
    </requirements>

	<data lang="en">
		<website>https://jenyay.net/Outwiker/Export2HtmlPluginEn</website>
		<description>Export pages to HTML.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>https://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.5">
				<requirements>
					<api>2.835</api>
				</requirements>

                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.5.zip</download>
				<change>Add German localization.</change>
			</version>

			<version number="1.4" date="February 15, 2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.4.zip</download>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
				<change>Add Markdown pages support.</change>
			</version>

			<version number="1.3.5" date="October 17, 2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.5.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.3.4" date="August 20, 2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.4.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.3.3" date="June 23, 2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.3.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.3.2" date="February 09, 2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.2.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.3.1" date="January 20, 2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.1.zip</download>
				<change>Bug fixes.</change>
				<change>Cleanup code.</change>
			</version>

			<version number="1.3" date="July 13, 2014">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.zip</download>
				<change>For OutWiker 1.8 was added supporting for links like page://...</change>
			</version>

			<version number="1.2.1" date="November 24, 2012">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.2.1.zip</download>
				<change>Corrected Ukrainian localization.</change>
			</version>

			<version number="1.2" date="May 30, 2012">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.2.zip</download>
				<change>Added the Ukrainian localization.</change>
			</version>

			<version number="1.1">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html.zip</download>
				<change>When you export a __index.html file created for easy viewing received result.</change>
			</version>

			<version number="1.0">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>https://jenyay.net/Outwiker/Export2HtmlPlugin</website>
		<description>Экспорт страниц в HTML.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>https://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.5">
				<requirements>
					<api>2.835</api>
				</requirements>

                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.5.zip</download>
				<change>Добавлена немецкая локализация.</change>
			</version>

			<version number="1.4" date="15.02.2018">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.4.zip</download>
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.6.</change>
				<change>Добавлена поддержка Markdown-страниц.</change>
			</version>

			<version number="1.3.5" date="17.10.2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.5.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.3.4" date="20.08.2016">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.4.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.3.3" date="23.06.2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.3.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.3.2" date="09.02.2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.2.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.3.1" date="20.01.2015">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.1.zip</download>
				<change>Исправление ошибок.</change>
				<change>Подчистка кода.</change>
			</version>

			<version number="1.3" date="13.07.2014">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.3.zip</download>
				<change>Для OutWiker 1.8 добавлена поддержка ссылок вида page://...</change>
			</version>

			<version number="1.2.1" date="24.11.2012">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.2.1.zip</download>
				<change>Исправления в украинской локализации.</change>
			</version>

			<version number="1.2" date="30.05.2012">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html-1.2.zip</download>
				<change>Добавлена украинская локализация.</change>
			</version>

			<version number="1.1">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html.zip</download>
				<change>Теперь при экспорте создается файл __index.html для удобного просмотра полученных HTML-файлов.</change>
			</version>

			<version number="1.0">
                <download os="all">https://jenyay.net/uploads/Outwiker/Export2HtmlPlugin/export2html.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
