<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>WebPage</name>
	<description>Download pages from Internet.</description>
	<description lang="ru">Скачивание страниц из интернета.</description>
	<website>https://jenyay.net/Outwiker/WebPageEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/WebPage</website>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="1.6"/>
</info>
