<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>WebPage</name>
	<updates>https://jenyay.net/uploads/Outwiker/WebPage/plugin.xml</updates>
	<description>Download pages from Internet.</description>
	<description lang="ru">Скачивание страниц из интернета.</description>
	<website>https://jenyay.net/Outwiker/WebPageEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/WebPage</website>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>

			<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
	</requirements>

	<version number="1.6"/>

	<versions>
		<version number="1.6">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.6.zip">
				<requirements>
					<api>3.868</api>
				</requirements>
			</download>
			<changes>
				<change>Migrate to new API.</change>
			</changes>

			<changes lang="ru">
				<change>Переход на новый API.</change>
			</changes>
		</version>

		<version number="1.5.1">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.5.1.zip">
				<requirements>
					<api>2.866</api>
				</requirements>
			</download>
			<changes>
				<change>Use alias for web page with dangerous characters in the title.</change>
			</changes>

			<changes lang="ru">
				<change>Для веб-страниц с запрещенными символами в заголовке теперь используются псевдонимы.</change>
			</changes>
		</version>

		<version number="1.5" date="13.08.2019">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.5.zip">
				<requirements>
					<api>2.866</api>
				</requirements>
			</download>
			<changes>
				<change>Improve pages downloading.</change>
				<change>Fixed errors.</change>
			</changes>

			<changes lang="ru">
				<change>Улучшено скачивание страниц.</change>
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.4" date="26.08.2018">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.4.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Add German localization.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена немецкая локализация.</change>
			</changes>
		</version>

		<version number="1.3" date="15.02.2018">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.3.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.</change>
			</changes>
		</version>

		<version number="1.2.2" date="22.05.2017">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.2.2.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Fixed import of the local HTML page in Windows.</change>
			</changes>

			<changes lang="ru">
				<change>Исправлена ошибка импорта локальных HTML-файлов под Windows.</change>
			</changes>
		</version>

		<version number="1.2.1" date="24.02.2017">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.2.1.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Updated the Ukrainian localization.</change>
			</changes>

			<changes lang="ru">
				<change>Обновлена украинская локализация.</change>
			</changes>
		</version>

		<version number="1.2" date="17.10.2016">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.2.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added OutWiker 2.0 supporting.</change>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.0.</change>
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.1.1" date="20.08.2016">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.1.1.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the Swedish translation.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка шведского языка.</change>
			</changes>
		</version>

		<version number="1.1" date="30.05.2016">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.1.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the ability to import local files.</change>
				<change>Small design improvements.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена возможность импорта локальных файлов.</change>
				<change>Оформительские исправления.</change>
			</changes>
		</version>

		<version number="1.0.1" date="10.03.2016">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.0.1.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Improved downloaded page parsing.</change>
				<change>Bug fixes.</change>
			</changes>

			<changes lang="ru">
				<change>Улучшен разбор скачиваемых страниц.</change>
				<change>Исправление ошибок.</change>
			</changes>
		</version>

		<version number="1.0" date="06.02.2016">
			<download href="https://jenyay.net/uploads/Outwiker/WebPage/webpage-1.0.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>First public version.</change>
			</changes>

			<changes lang="ru">
				<change>Первая версия.</change>
			</changes>
		</version>
	</versions>

</info>
