Source: outwiker
Section: text
Priority: optional
Maintainer: Eugeniy Ilin <jenyay.ilin@gmail.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>=8), python, dh-python
Homepage: http://jenyay.net/Outwiker/English

Package: outwiker
Architecture: all
Depends: python2.7 (>=2.7), python-wxgtk3.0, libwxgtk-webview3.0-0v5, python-pil|python-imaging, python-enchant, python-appindicator, python-gtk2, ibus-gtk3, ${python:Depends}, ${misc:Depends}
Description: Outliner and personal wiki
 OutWiker is designed to store notes in a tree. Such programs are called
 "outliner", personal wiki, or tree-like editors. OutWiker's main difference
 from the other similar programs is keeping the tree of notes in the form of
 directories on disk, and encouraging changing the base by external sources
 and programs. Also any number of files can be attached to the page. OutWiker
 can contain pages of different types, currently supports two types of pages:
 plain text and HTML, but the number of types of pages will increase in future.
