<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>HackPage</name>

	<website>https://jenyay.net/Outwiker/HackPageEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/HackPage</website>
	<description>Plugin allow to edit hidden page properties.</description>
	<description lang="ru">Плагин для редактирования скрытых свойств страниц.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>
	</requirements>

	<version number="1.4.1"/>
</info>
