<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>DataGraph</name>

	<website>https://jenyay.net/Outwiker/DataGraphEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/DataGraph</website>
	<description>DataGraph plug-in designed for creation a charts by text data.</description>
	<description lang="ru">Плагин DataGraph предназначен для построения графиков по текстовым данным.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.922</api>
	</requirements>

	<version number="1.3.1"/>
</info>
