<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>RecentEditedPages</name>
	<description>Marks for recent edited pages.</description>
	<description lang="ru">Пометки для последних редактируемых страниц.</description>
	<website>https://jenyay.net/Outwiker/RecentEditedPagesEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/RecentEditedPages</website>

	<requirements>
		<api>4.950</api>
	</requirements>

	<author>
		<name>Eugene Ilin</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<version number="1.0"/>
</info>
