<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>ExternalTools</name>
	<website>https://jenyay.net/Outwiker/ExternalToolsEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/ExternalTools</website>
	<description>Plug-in to open notes files with external editor and execute external applications from pages with (:exec:) command.</description>
	<description lang="ru">Плагин для открытия заметок во внешнем редакторе и для запуска сторонних приложений со страницы с помощью команды (:exec:).</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>
	<requirements>
		<api>3.922</api>
	</requirements>

	<version number="1.7.2"/>
</info>
