<?xml version="1.1" encoding="UTF-8" ?>
<info>
    <name>FirstPlugin</name>
    <requirements>
        <packages>
            <core>2.0</core>
            <actions>1.1</actions>
            <gui>2.0</gui>
            <pages>2.0</pages>
            <utilites>1.0</utilites>
            <libs>1.0</libs>
        </packages>
    </requirements>
</info>
