<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>ChangePageUID</name>
	<updates>http://jenyay.net/Outwiker/ChangePageUid/plugin.xml</updates>
    <requirements>
        <outwiker>1.8.0.731 dev</outwiker>
        <os>Windows, Linux</os>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/ChangePageUidEn</website>
		<description>Plugin for edit a page indentifiers.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0.3" date="January 20, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.3.zip</download>
				<change>Bug fixes.</change>
			</version>

			<version number="1.0.2" date="September 11, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.2.zip</download>
				<change>Added the Italian localization.</change>
			</version>

			<version number="1.0.1" date="August 25, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.1.zip</download>
				<change>Spaces will replace to underline during the enter a new identifier.</change>
				<change>Correction of the design.</change>
				<change>Bug fixes.</change>
			</version>

			<version number="1.0" date="July 07, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.zip</download>
				<change>The first version.</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/ChangePageUid</website>
		<description>Плагин для редактирования идентификаторов страницы.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.0.3" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.3.zip</download>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0.2" date="11.09.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.2.zip</download>
				<change>Добавлена итальянская локализация.</change>
			</version>

			<version number="1.0.1" date="25.08.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.1.zip</download>
				<change>При вводе нового идентификатора пробелы автоматически заменяются на подчеркивания.</change>
				<change>Оформительские исправления.</change>
				<change>Исправление ошибок.</change>
			</version>

			<version number="1.0" date="07.07.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/ChangePageUid/changepageuid-1.0.zip</download>
				<change>Первая версия.</change>
			</version>
		</changelog>
	</data>
</info>
