<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>ThumbGallery</name>

	<website>https://jenyay.net/Outwiker/ThumbGalleryEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/ThumbGallery</website>

	<description>Creating a gallery of the attached pictures.</description>
	<description lang="ru">Создание галереи из прикрепленных изображений.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.904</api>
	</requirements>

	<version number="1.5"/>
</info>
