<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Livejournal</name>

	<website>https://jenyay.net/Outwiker/LivejournalPluginEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/LivejournalPlugin</website>
	<description>Decoration links to livejournal.com users and communities.</description>
	<description lang="ru">Оформление ссылок на пользователей Живого Журнала.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.922</api>
	</requirements>

	<version number="1.6.1"/>
</info>
