<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Livejournal</name>
	<updates>https://jenyay.net/uploads/Outwiker/LivejournalPlugin/plugin.xml</updates>

	<website>https://jenyay.net/Outwiker/LivejournalPluginEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/LivejournalPlugin</website>
	<description>Decoration links to livejournal.com users and communities.</description>
	<description lang="ru">Оформление ссылок на пользователей Живого Журнала.</description>

	<author>
		<name>Eugene Ilin (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин (aka Jenyay)</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>3.868</api>

		<!-- For backward compatibility with OutWiker 2.0 -->
		<packages>
			<core>3.0</core>
			<actions>3.0</actions>
			<gui>3.0</gui>
			<pages>3.0</pages>
			<utilites>3.0</utilites>
			<libs>3.0</libs>
		</packages>
	</requirements>

	<version number="1.6"/>

	<versions>
		<version number="1.6">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.6.zip">
				<requirements>
					<api>3.868</api>
				</requirements>
			</download>
			<changes>
				<change>Migrate to new API.</change>
			</changes>

			<changes lang="ru">
				<change>Переход на новый API.</change>
			</changes>
		</version>

		<version number="1.5" date="26.08.2018">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.5.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Add German localization.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена немецкая локализация.</change>
			</changes>
		</version>

		<version number="1.4.1" date="26.05.2018">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.4.1.zip">
				<requirements>
					<api>2.835</api>
				</requirements>
			</download>
			<changes>
				<change>Update Ukrainian localization.</change>
			</changes>

			<changes lang="ru">
				<change>Обновлена украинская локализация.</change>
			</changes>
		</version>

		<version number="1.4" date="15.02.2018">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.4.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.</change>
			</changes>
		</version>

		<version number="1.3.4" date="17.10.2016">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.4.zip">
				<requirements>
					<api>2.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added OutWiker 2.0 supporting.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</changes>
		</version>

		<version number="1.3.3" date="20.08.2016">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.3.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Add Swedish translation.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена поддержка шведского языка.</change>
			</changes>
		</version>

		<version number="1.3.2" date="20.01.2015">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.2.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
				<change>Code cleanup.</change>
			</changes>

			<changes lang="ru">
				<change>Небольшие улучшения в интерфейсе.</change>
				<change>Исправление ошибок.</change>
				<change>Подчистка кода.</change>
			</changes>
		</version>

		<version number="1.3.1" date="11.09.2014">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.1.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the Italian localization.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена итальянская локализация.</change>
			</changes>
		</version>

		<version number="1.3" date="25.08.2014">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added a dialog for insert wiki commands (:ljuser:) and (:ljcomm:).</change>
				<change>Added saving entered names of users and communities.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлен диалог для вставки команд (:ljuser:) и (:ljcomm:).</change>
				<change>Добавлено сохранение вводимых имен пользователей ЖЖ и сообществ.</change>
			</changes>
		</version>

		<version number="1.2.1" date="17.11.2012">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.2.1.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Bug fixes</change>
			</changes>

			<changes lang="ru">
				<change>Исправление ошибок</change>
			</changes>
		</version>

		<version number="1.2" date="17.11.2012">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.2.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Design correction.</change>
			</changes>

			<changes lang="ru">
				<change>Оформительские исправления.</change>
			</changes>
		</version>

		<version number="1.1" date="30.05.2012">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.1.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>Added the Ukrainian licalization.</change>
			</changes>

			<changes lang="ru">
				<change>Добавлена украинская локализация.</change>
			</changes>
		</version>

		<version number="1.0" date="30.05.2012">
			<download href="https://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal.zip">
				<requirements>
					<api>1.0</api>
				</requirements>
			</download>
			<changes>
				<change>The first version</change>
			</changes>

			<changes lang="ru">
				<change>Первая версия</change>
			</changes>
		</version>
	</versions>
</info>
