<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>Livejournal</name>
	<updates>http://jenyay.net/uploads/Outwiker/LivejournalPlugin/plugin.xml</updates>
    <requirements>
        <os>Windows, Linux</os>
        <api>2.835</api>
    </requirements>

	<data lang="en">
		<website>http://jenyay.net/Outwiker/LivejournalPluginEn</website>
		<description>Decoration links to livejournal.com users and communities.</description>

		<author>
			<name>Eugene Ilin (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.4" date="February 15, 2018">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.4.zip</download>
				<change>Add OutWiker 2.1 support. Migrate to Python 3.6.</change>
			</version>

			<version number="1.3.4" date="October 17, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.4.zip</download>
				<change>Added OutWiker 2.0 supporting.</change>
			</version>

			<version number="1.3.3" date="August 20, 2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.3.zip</download>
				<change>Added the Swedish translation.</change>
			</version>

			<version number="1.3.2" date="January 20, 2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.2.zip</download>
				<change>Minor interface improvements.</change>
				<change>Bug fixes.</change>
				<change>Code cleanup.</change>
			</version>

			<version number="1.3.1" date="September 11, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.1.zip</download>
				<change>Added the Italian localization.</change>
			</version>

			<version number="1.3" date="August 25, 2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.zip</download>
				<change>Added a dialog for insert wiki commands (:ljuser:) and (:ljcomm:).</change>
				<change>Added saving entered names of users and communities.</change>
			</version>

			<version number="1.2.1" date="November 17, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.2.1.zip</download>
				<change>Bug fixes</change>
			</version>

			<version number="1.2" date="November 17, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.2.zip</download>
				<change>Design correction.</change>
			</version>

			<version number="1.1" date="May 30, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.1.zip</download>
				<change>Added the Ukrainian licalization.</change>
			</version>

			<version number="1.0" date="May 30, 2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal.zip</download>
				<change>The first version</change>
			</version>
		</changelog>
	</data>

	<data lang="ru">
		<website>http://jenyay.net/Outwiker/LivejournalPlugin</website>
		<description>Оформление ссылок на пользователей Живого Журнала.</description>

		<author>
			<name>Евгений Ильин (aka Jenyay)</name>
			<email>jenyay.ilin@gmail.com</email>
			<site>http://jenyay.net</site>
		</author>

		<changelog>
			<version number="1.4" date="15.02.2018">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.4.zip</download>
				<change>Добавлена поддержка OutWiker 2.1. Переход на Python 3.6.</change>
			</version>

			<version number="1.3.4" date="17.10.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.4.zip</download>
				<change>Добавлена поддержка OutWiker 2.0.</change>
			</version>

			<version number="1.3.3" date="20.08.2016">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.3.zip</download>
				<change>Добавлена поддержка шведского языка.</change>
			</version>

			<version number="1.3.2" date="20.01.2015">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.2.zip</download>
				<change>Небольшие улучшения в интерфейсе.</change>
				<change>Исправление ошибок.</change>
				<change>Подчистка кода.</change>
			</version>

			<version number="1.3.1" date="11.09.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.1.zip</download>
				<change>Добавлена итальянская локализация.</change>
			</version>

			<version number="1.3" date="25.08.2014">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.3.zip</download>
				<change>Добавлен диалог для вставки команд (:ljuser:) и (:ljcomm:).</change>
				<change>Добавлено сохранение вводимых имен пользователей ЖЖ и сообществ.</change>
			</version>

			<version number="1.2.1" date="17.11.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.2.1.zip</download>
				<change>Исправление ошибок</change>
			</version>

			<version number="1.2" date="17.11.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.2.zip</download>
				<change>Оформительские исправления.</change>
			</version>

			<version number="1.1" date="30.05.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal-1.1.zip</download>
				<change>Добавлена украинская локализация.</change>
			</version>

			<version number="1.0" date="30.05.2012">
                <download os="all">http://jenyay.net/uploads/Outwiker/LivejournalPlugin/livejournal.zip</download>
				<change>Первая версия</change>
			</version>
		</changelog>
	</data>
</info>
