<?xml version="1.1" encoding="UTF-8" ?>
<info>
	<name>DebugEventsPlugin</name>

	<website>https://jenyay.net/Outwiker/DebugEventsEn</website>
	<website lang="ru">https://jenyay.net/Outwiker/DebugEvents</website>
	<description>Plug-in to watch for the OutWiker events.</description>
	<description lang="ru">Плагин для отслеживания событий OutWiker.</description>

	<author>
		<name>Eugene Ilin</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<author lang="ru">
		<name>Евгений Ильин</name>
		<email>jenyay.ilin@gmail.com</email>
		<website>https://jenyay.net</website>
	</author>

	<requirements>
		<api>4.942</api>
	</requirements>
	<version number="1.2.2"/>
</info>
