[Desktop Entry]
Name=Outwiker
GenericName=Outwiker
Comment=Outliner and personal wiki
Exec=python /opt/outwiker/outwiker.py %f
Icon=outwiker
Terminal=false
Type=Application
Categories=Office;Application;

